@font-face {
	font-family: 'FZZXHJW GB1 0';
	src: url('FZZXHJW--GB1-0.eot');
	src: url('FZZXHJW--GB1-0.eot?#iefix') format('embedded-opentype'),
		url('FZZXHJW--GB1-0.woff') format('woff'),
		url('FZZXHJW--GB1-0.ttf') format('truetype'),
		url('FZZXHJW--GB1-0.svg') format('svg');
}